<!doctype html>
<html>
    <head>
        <title>Registro</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background: #f8f9fa;
            }
            .form-register {
                width: 100%;
                max-width: 340px;
                padding: 15px;
                margin: auto;
            }
            button {
                margin-top: 1em;
            }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form
            class="form-register text-center"
            action="/register"
            method="post"
        >
            <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
            <label for="username" class="sr-only">Usuario</label>
            <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="Usuario"
                required
                autofocus
            />
            <label for="password" class="sr-only">Contraseña</label>
            <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Contraseña"
                required
            />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Registrarse
            </button>
        </form>
    </body>
</html>
